In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data_sample_PE.csv", sep = ";")

In [5]:
#nomes e tipos de cada coluna
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAO TOTAL. HORARIO (mm)                           float64
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO. HORARIA (mB)    float64
PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)          float64
PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)         float64
RADIACAO GLOBAL (Kj/m2)                                  float64
TEMPERATURA DO AR - BULBO SECO. HORARIA (C)              float64
TEMPERATURA DO PONTO DE ORVALHO (C)                      float64
TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)                float64
TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)                float64
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)          float64
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)          float64
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR. HORARIA (%)                      float64
VENTO. DIREAO HORARIA (gr) ((gr))                        float64
VENTO. RAJADA MAXIMA (m/s)                               float64
VENTO. VELOCIDADE HORARIA (m/s)                          float64
REGIAO                                                    object
UF                                                        object
ESTACAO                                                   object
CODIGO (WMO)                                              object
LATITUDE                                                 float64
LONGITUDE                                                float64
ALTITUDE                                                 float64
DATA DE FUNDACAO                                          object
dtype: object

In [10]:
df.columns #mostra o nome das colunas

Index(['Data', 'Hora UTC', 'PRECIPITAO TOTAL. HORARIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO. HORARIA (mB)',
       'PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m2)',
       'TEMPERATURA DO AR - BULBO SECO. HORARIA (C)',
       'TEMPERATURA DO PONTO DE ORVALHO (C)',
       'TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)',
       'TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR. HORARIA (%)',
       'VENTO. DIREAO HORARIA (gr) ((gr))', 'VENTO. RAJADA MAXIMA (m/s)',
       'VENTO. VELOCIDADE HORARIA (m/s)', 'REGIAO', 'UF', 'ESTACAO',
       'CODIGO (WMO)', 'LATITUDE', 'LONGITUDE', 'ALTITUDE',
       'DATA DE FUNDACAO'],
      dtype='object')

In [ ]:
#delimitando colunas q vou usar
df[['TEMPERATURA DO AR - BULBO SECO. HORARIA (C)',
    'TEMPERATURA DO PONTO DE ORVALHO (C)',
    'TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)']]

In [66]:
#aqui tem as médias de todas temperaturas e outra medidas
df[['TEMPERATURA DO AR - BULBO SECO. HORARIA (C)',
    'TEMPERATURA DO PONTO DE ORVALHO (C)',
    'TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)']].describe()

,TEMPERATURA DO AR - BULBO SECO. HORARIA (C),TEMPERATURA DO PONTO DE ORVALHO (C),TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C),TEMPERATURA MINIMA NA HORA ANT. (AUT) (C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)
count,54658.000000,50855.000000,54612.000000,54612.000000,50772.000000,50772.000000
mean,25.339705,16.998169,25.972929,24.689669,17.540566,16.484334
std,4.337417,4.748053,4.525367,4.133003,4.687991,4.813378
min,13.500000,-7.100000,14.400000,12.500000,-6.500000,-7.200000
25%,22.100000,15.700000,22.600000,21.600000,16.300000,15.100000
50%,25.000000,17.900000,25.700000,24.400000,18.400000,17.500000
75%,28.500000,19.800000,29.400000,27.600000,20.300000,19.400000
max,39.100000,27.100000,39.400000,37.800000,27.500000,25.900000

In [67]:
#Mas vou fazer separado as médias das temperaturas
df[['TEMPERATURA DO AR - BULBO SECO. HORARIA (C)',
    'TEMPERATURA DO PONTO DE ORVALHO (C)',
    'TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)',
    'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)']].mean()

TEMPERATURA DO AR - BULBO SECO. HORARIA (C)        25.339705
TEMPERATURA DO PONTO DE ORVALHO (C)                16.998169
TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)          25.972929
TEMPERATURA MINIMA NA HORA ANT. (AUT) (C)          24.689669
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)    17.540566
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)    16.484334
dtype: float64

BÔNUS

In [60]:
#selecionar as colunas q eu quero
colunas = df[['VENTO. DIREAO HORARIA (gr) ((gr))', 'VENTO. RAJADA MAXIMA (m/s)',
       'VENTO. VELOCIDADE HORARIA (m/s)']]

#tirar valores nulos
colunas_sem_null = colunas.dropna(subset=['VENTO. DIREAO HORARIA (gr) ((gr))', 'VENTO. RAJADA MAXIMA (m/s)',
       'VENTO. VELOCIDADE HORARIA (m/s)'])

#pegar somente 100 linhas dessas colunas sem valores nulos
colunas_sem_null.sample(100)

,VENTO. DIREAO HORARIA (gr) ((gr)),VENTO. RAJADA MAXIMA (m/s),VENTO. VELOCIDADE HORARIA (m/s)
72137,157.0,4.5,1.0
39476,118.0,7.6,3.8
36042,158.0,5.2,1.5
11161,155.0,5.9,0.0
30147,97.0,3.0,1.6
...,...,...,...
42184,73.0,6.9,3.8
37131,276.0,9.8,5.3
87185,154.0,5.6,2.1
86600,157.0,7.6,3.5
20548,93.0,8.7,3.6